<!doctype html>
<html lang="En">
<head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>

</head>
<body>
<h1>Instagram App CPA Assignment 3</h1>
<div id="firebase-auth-container"></div>
<button id="sign-out" hidden="true">Sign out</button>
<div id="login-info" hidden="true">
    {% if user_data %}
        <dl>
            <dt>Name:</dt>
            <dd>{{ user_data['name'] }}</dd>
            <dt>Email:</dt>
            <dd>{{ user_data['email'] }}</dd>
        </dl>
    {% endif %}
    <body>
    {% block content_1 %}
    <h2>Add comment Page</h2>
    <form method="post" action="/add_comment">
        <input type="hidden" name="post_id" value="{{ post_id }}">
        <div class="form-group">
            <label for="content">Post Comment:</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Add Comment</button>
    {% endfor %}

    {% endblock %}
    </body>

    {% for i in data %}
        Name: {{ i['name'] }}<br/>
        ID: {{ i['id'] }}<br/>
        Boolean: {{ i['boolean'] }}<br/>
    {% endfor %}
    <p>Error Message: {{ error_message }}</p>
</div>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>
</html>
